/* main stules rules*/
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
address {
  font-size: normal;
}

button {
  font-family: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container,
.subtitle-flex,
.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.section:nth-child(3) {
  padding-top: 0;
}
.section:nth-child(4) {
  background: rgba(245, 244, 250, 1);
}

.logo {
  margin: 24px 93px 25px 0;
}

.logo-web {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.logo-studio {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.nav {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin: 32px 0;
}

.header .container {
  display: flex;
  align-items: center;
}
.nav-all {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #212121;
  text-decoration: none;
  width: 261px;
  height: 16px;
  margin-right: 50px;
  position: relative;
}

.nav-link.active::after {
  content: "";
  left: 0;
  bottom: -35px;
  width: 100%;
  height: 4px;
  background: rgba(33, 150, 243, 1);
  position: absolute;
  border-radius: 2px;
}

.nav-line {
  display: flex;
  position: relative;
}

.nav-link.active {
  color: rgba(33, 150, 243, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
  color: rgba(33, 150, 243, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  list-style: none;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.contact-mail {
  color: #757575;
  margin-right: 30px;
}

.contact-phone {
  color: #757575;
}

.icon-mail {
  width: 16px;
  height: 12px;
}

.icon-phone {
  width: 10px;
  height: 16px;
}

.contact-mail,
.contact-phone {
  text-decoration: none;
  fill: currentColor;
}

/*HERO*/

.hero {
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero-Img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  max-height: 120px;
  margin: 0 auto;
}

.button {
  display: flex;
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  width: 216px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Modal */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 40px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-close:hover,
.button-close:focus {
  cursor: pointer;
  fill: #2196f3;
  transform: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

/* Modal form */

.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
  text-align: center;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-input {
  height: 40px;
  padding: 10px;
  padding-left: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.modal-input::placeholder {
  padding-right: 42px;
}

.modal-input:focus {
  border: 1px solid #2196f3;
}
.modal-input:focus + .icon-form {
  fill: #2196f3;
}

.modal-textarea {
  height: 120px;
  margin-bottom: 20px;
  outline: none;
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 50%;
  border: none;
}

textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.form-inner {
  text-align: center;
}

.form-cheked {
  margin-bottom: 30px;
margin-left: 14px;
  font-size: 14px;
  line-height: 1.71;
}

.cheked-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-btn-checked {
  width: 16px;
  height: 15px;
  border: 2px solid black;
}

.cheked-input:checked + .modal-btn-cheked > .icon-btn-checked {
  background-color: #2196f3;
  border: none;
}

.check-box-link {
  text-decoration-line: underline;
  color: #2196f3;
}

.modal-btn-submit {
  text-align: center;
  padding: 10px 52px;
  display: block;
  border: none;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  background: #188ce8;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

/* Portfolio */

.subtitle,
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.img-svg {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon {
  width: 70px;
  height: 70px;
}

.subtitle-flex,
.work-flex,
.team-flex {
  display: flex;
  gap: 30px;
}

.subtitle-list {
  list-style: none;
  width: 270px;
}

.subtitle-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.subtitle-desc {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.work,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.work-decor {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 370px;
  height: 70px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: translateY(-100%);
}

.work-item {
  list-style: none;
}

.list-social-netwoorks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-networks {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}

.footer .social-networks {
  color: #ffff;
}

.link-social-icon {
  fill: currentColor;
}

.social-networks:hover,
.social-networks:focus {
  border-radius: 50%;
  background-color: rgba(33, 150, 243, 1);
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list {
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  color: #afb1b8;
  background: #ffffff;
}

.list-social-netwoorks {
  color: #afb1b8;
}

.team-social-netwoorks {
  fill: currentColor;
}

.team-img-text {
  padding: 30px 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-desc {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.clients {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin: 0 auto;
  gap: 30px;
}

.clients-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-svg {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
}

.icon-clients {
  fill: currentColor;
}

.clients-svg:hover,
.clients-svg:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
  border-image-source: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(0deg, #2196f3, #2196f3);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-image-source 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Footer*/

.footer {
  background-color: #2f303a;
  padding: 60px 0;

}
footer .container {
  align-items: baseline;
  display: flex;

}

.footer-block-1 {
  margin-right: 70px;
}

.footer-block-2 {
  margin-right: 93px;

}


.footer .logo-studio {
  color: #ffffff;
}
.address {
  font-style: normal;
  margin-top: 20px;
}

.contact-address,
.footer-contact :nth-child(1) {
  margin-bottom: 9px;
}

.contact-address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-contact {
  list-style: none;
  margin: 0 auto;
  padding-bottom: 9px;
}

.footer-contact:not(last-child) {
  padding-bottom: 0;
}

.footer-contact-list {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

footer .team-social-netwoorks {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer .link-social-icon {
  display: flex;
  justify-content: center;
  color: inherit;
}

.footer-form {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: none;
}

.footer-input {
  width: 358px;
  height: 50px;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding: 10px;
  
}

.footer-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;

}

.footer-btn-subscribe {
  display: flex;
justify-content:center;
align-items: center;
  margin: 10px 28px;

}

/* Portfolio*/

.portfolio-title {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  visibility: hidden;
}

.portfolio-button,
.portfolio-works {
  list-style: none;
  display: flex;
  justify-content: center;
}
.portfolio-button {
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-pagination {
  border: none;
  border-radius: 4%;
}

.portfolio-pagination:hover,
.portfolio-pagination {
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-works {
  gap: 30px;
  flex-wrap: wrap;
}
.portfolio-flex:hover {
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-pagination:not(:last-child) {
  margin-right: 8px;
}

.portfolio-pagination {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  color: #212121;
}

.portfolio-pagination:hover,
.portfolio-pagination:focus {
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-decs {
  padding: 20px 24px;
  justify-content: center;
  border: 1px solid #eeeeee;
}

.portfolio-mane {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-class {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.portfolio-img-hiden {
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 294px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 62px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-flex:hover .overlay {
  transform: translateY(0);
}
